div.nav-items li{
	display:inline-block;
	margin-right:25px;
	transition:0.9s;
}

div.nav-items li:hover{
	background:white;
	transform:scale(1.2);
}




div.nav-items li a{
	color:white;
	text-decoration:none;
}

div.nav-items li a:hover{
	color:black;
}



nav.nav-bar{
	background-color:black;
	height:45px;
	align-content:center;
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	width:100%;
	border-radius:10px;

}
	nav.nav-bar2{
		margin-top:30px;
	}


div.nav-items2 li{
	display:inline-block;
	margin-right:25px;
}

div.nav-items2 li a{
	text-decoration:none;
}

div.nav-items2{
	display:flex;
	margin-right:25px;
}

select{
	border-style:none;
}

span.logo{
	display:block;
	font-size:20px;
	font-family:cursive;
	color:blue;
	transform:rotateY(-55deg);
	-webkit-text-stroke:2px hex;
}

div.image-container1{
	position:relative;
}



button.trial-button{
	position:absolute;
	padding:10px 10px;
	border-radius:8px;
	border-style:none;
	transform:translate(-950px,450px);
	background-color: blue;
	width:180px;
	height:40px


}

button.trial-button a{
	text-decoration:none;
	color:whitesmoke;

}

span.next{
	font-size:14px;
}

div.images-group2{
	display:flex;
	flex-wrap:wrap;
	gap:10px;
	justify-content: space-evenly;
}

div.images-group2 img{
	width:80px;
	height:80px;
	
	}

p.first-p{
	font-size:24px;
}

div.background-image{
	margin-top:40px;
	position:relative;
	height:100%;
}

div.background-image img{
	height:300px;
	width:1500px;
}



div.surface-1{
	position:absolute;
	display:flex;
	transform:translateY(-250px);
}

div.surface-1 ul{
	margin-right:130px;

}

div.surface-1 ul li{
	list-style-type:none;
}

span.top{
	display:block;
	margin-bottom:30px;
	font-weight:bold;
}

video{
	width:30%;
	height:30%;
	
}

div.div-video{
	display:flex;
	justify-content:space-evenly;
	font-size:36px;
	font-weight:bold;
	margin-top:10px;
	
}

button.second-trial{
	padding:10px 10px;
	border-radius:8px;
	border-style:solid;
	border-width:1px;
	border-color:blue;
	color: darkblue;
	transform:translateX(90px);
	
	}

	div.main-container{
		position:relative;
		width:200px;
		height:200px;
		margin-top:30px;
		perspective:1000px;
	}

	div.flip-container{
		position:absolute;
		width:200px;
		height:200px;
		transform-style:preserve-3d;
		transition:all 3s ease;
	}
	div.front-part{
		position:absolute;
		backface-visibility:hidden;
		background-color:white;
		height:250px;
		object-fit:cover;
		border-radius:8px;

	}

	div.front-part img{
		padding-top:20px;
		padding-left:20px;
		padding-right:20px;
		border-radius:8px;
	}

	p.one{
		font-weight:bold;
		padding-left:20px;
		font-family:cursive;
	}




	div.behind{
		position:absolute;
		width:200px;
		height:200px;
		backface-visibility:hidden;
		background-color:green;
		transform:rotateY(180deg);

	}
	
	div.flip-container:hover{
		transform:rotateY(180deg);
		z-index:2;

	}



	div.main-container2{
		position:relative;
		width:200px;
		height:200px;
		margin-top:30px;
		perspective:1000px;
	}

	div.flip-container2{
		position:absolute;
		width:200px;
		height:200px;
		transform-style:preserve-3d;
		transition:all 3s ease;
	}
	div.front-part2{
		position:absolute;
		backface-visibility:hidden;
		background-color:white;
		height:250px;
		object-fit:cover;
		border-radius:8px;
	}

	div.front-part2 img{
		padding-top:20px;
		padding-left:20px;
		padding-right:20px;
		border-radius:8px;
	}


	div.behind2{
		position:absolute;
		width:200px;
		height:200px;
		backface-visibility:hidden;
		background-color:green;
		transform:rotateY(180deg);

	}
	
	div.flip-container2:hover{
		transform:rotateY(180deg);
		z-index:2;
	}
	

	div.main-container3{
		position:relative;
		width:200px;
		height:200px;
		margin-top:30px;
		perspective:1000px;
	}

	div.flip-container3{
		position:absolute;
		width:200px;
		height:200px;
		transform-style:preserve-3d;
		transition:all 3s ease;
	}
	div.front-part3{
		position:absolute;
		backface-visibility:hidden;
		background-color:white;
		height:250px;
		object-fit:cover;
		border-radius:8px;
	}

	div.front-part3 img{
		padding-top:20px;
		padding-left:20px;
		padding-right:20px;
		border-radius:8px;
	}


	div.behind3{
		position:absolute;
		width:200px;
		height:200px;
		backface-visibility:hidden;
		background-color:green;
		transform:rotateY(180deg);

	}
	
	div.flip-container3:hover{
		transform:rotateY(180deg);
		z-index:2;

	}
	

	div.all-boxes{
		display:flex;
		justify-content:flex-end;
		gap:60px;
		transform:translateY(-300px);
		margin-bottom:40px 0px;
	}

	
	div.behind button{
		display:block;
		margin:0px auto;
		transform:translateY(90px);
		border-radius:8px;
		border-width:1px;
		color:blue;
	}

	div.behind2 button{
		display:block;
		margin:0px auto;
		transform:translateY(90px);
		border-radius:8px;
		border-width:1px;
		color:blue;
	}


	div.behind3 button{
		display:block;
		margin:0px auto;
		transform:translateY(90px);
		border-radius:8px;
		border-width:1px;
		color:blue;
	}

	div.another-background{
		margin-top:20px;
		max-height: 300px;
		overflow:hidden;
		margin-bottom:0px;

	}

	div.flex1{
		display:block;
		position:absolute;
		transform:translate(120px,-200px);
		font-size:34px;
		}

	button.third-trial{
		padding:15px 15px 15px 15px;
		border-radius:8px;
		border-width:1px;
		border-color:blue;
		color:blue;
	}

		h1{
		display:block;
		text-align:center;
		
		}

		div.header{
			margin-top:0px;
			transform:translateY(-200px);
		}

		div.header input{
			width:100%;
			height:40px;
			border-width:1px;
			border-color:blue;
			border-radius:8px;
		}


		div.programs{
			display:flex;
			justify-content:center;

		}
		div.programs button{
			display:block;
			padding:10px 10px 10px 10px;
			margin-right:10px;
			border-radius:8px;
			border-style:none;
			margin-top:0px;
			transform:translateY(-150px);
			
		}



			p.p-two{
				font-size:24px;
				transform:translateY(-150px);
				text-align:center;
			}


			div.image-one{
				width:300px;
				height:260px;
				border:1px solid;
				border-color:grey;
				transform:translateY(-150px);
				padding-left:20px;
				border-radius:8px;



			}

			div.image-one img{
				width:150px;
				height:150px;

			}

			div.combine{
				display:flex;

			}

			strong.name{
				transform:translateY(50px);
			}
		
		div.all-div{
			display:flex;
			justify-content:center;
			align-items:center;

		}

		div.all-div div{
			margin-right:60px;

		}

		div.image-one div.combine img.image{
			border-radius:50%;

		}

		select option:focus{
			background-color:green;
		}

		div.images-group3{
			display:flex;

		}

		div.images-group3 img{
			margin-right:40px;
			border-radius:10px;
			transition:0.9s;
		}

		div.images-group3 img:hover{
			transform:scale(1.1);
		}

		div.all-animations{
			display:flex;
			margin-top:20px;
		}

		div.all-animations video{
			width:90%;
			height:auto;
			border-radius:8px;
			transition:0.5s;
		}

		div.all-animations video:hover{
			transform:scale(1.1);
		}

		button.image-button{
			width:130px;
			height:40px;
			display:flex;
			border-radius:8px;
			border-width:1px;
			border-color:blue;
			transition:0.6s;
		}

		button.image-button:hover{
			transform:scale(1.1);
			z-index:2;
		}

		button p.button{
			transform:translate(8px,-5px);
			font-weight:bold;
		}

		div.all-buttons{
			display:flex;
			justify-content:space-evenly;
		}

		img.round{
			border-radius:50%;
		}

		button.button1{
			display:flex;
			margin-top:10px;
			height:80px;
			width:350px;
			border-radius:10px;
			border-style:none;
			transition:0.6s;

		}

		button.button1:hover{
			transform:scale(1.1);
			z-index:2;
		}

		div.for-buttons{
			position:relative;
			background-image:url("Untitled design (14).jpg");
			width:400px;
			height:300px;
			border-radius:10px;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
		}

		button.button1 img{
			border-radius:10px;
		}

		div.google-image{
			display:flex;
			flex-direction:column;
			margin-left:10px;
		}

		div.google-image span{
			font-weight:bold;
		}

		div.all-together{
			display:flex;
			justify-content:space-between;
		}

		div.row-buttons button{
			height:50px;
			margin-bottom:10px;
			margin-right:20px;
			border-radius:10px;
			border-style:none;
			transition:0.6s;
			color:blue;
		}

		div.row-buttons button:hover{
			transform:scale(1.1);
		}

		div.down{
			display:flex;
			flex-direction:column;
			width:300px;
			height:300px;
			justify-content:center;
			margin-left:20px;
			background-color: white;
			align-items:center;
			transform:translateY(40px);
			border-radius:10px;
			transition:0.9s;
		}

		div.down:hover{
			transform:scale(1.02);
			z-index:2;
		}

		div.down img{
			border-radius:10px;
			transform:translateY(-20px);

		}

		div.combined{
			position:relative;
			background:url("Untitled design (28).jpg");
			height:400px;
			display:flex;
			border-radius:10px;
		}

		nav.navigation-bar ol{
			display:flex;
			justify-content:space-evenly;
		}

		nav.navigation-bar ol li{
			list-style-type:none;
		}

		nav.navigation-bar ol li a{
			text-decoration:none;
			color:white;
		}

		nav.navigation-bar ol li a:hover{
			color:greenyellow;
		}

		nav.navigation-bar{
			background-color:black;
			height:70px;
			align-content:center;
			position:fixed;
			z-index:1000;
			top:0;
			left:0;
			width:100%;
		}

		div.lady-image{
		width:50%;

		}

		div.griff{
			display:flex;
			margin-top:10px;
		}

		div.hijab{
			margin-left:100px;
		}

		div.hijab img{
			border-radius:10px;
		}

		span.fog{
			font-weight:bold;
			font-size:48px;
		}

		p.next{
			font-size:24px;
			font-family:sans-serif;
		}

		button.fog-button{
			padding:15px 15px;
			background-color:darkblue;
			color:white;
			width:30%;
			border-radius:8px;
			border-style:none;
		}

		
		li.tick::marker{
			color:blue;
			content:"\2713\00a0";
			font-weight:bold;
		}

		.long-button {
  display: flex;
  align-items: center;
  gap: 160px;
  padding: 20px;
  background: black;
  border: 2px solid #ccc;
  cursor: pointer;
  width:100%;
  border-radius:10px;
}

/* Groups the number and text together */
.stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

span.number {
  font-size: 24px;
  font-weight: bold;
  color:white;
}

span.fred {
  color: white;
  font-size: 18px;
  line-height: 1.2;
}

/* The vertical divider */
div.v {
  border-left: 2px solid green; /* Adjusted thickness for better look */
  height: 60px;
  align-self: center;
}
